<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-content>
        
        <div class="options" mat-dialog-content>
            <mat-accordion>
                <chips [allTags]="allTags" (search)="search($event)"></chips>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        More Options
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <doubleslider (emit)="stars"></doubleslider>
                    <mat-checkbox [checked]="heatmap" (change)="heatmap = !heatmap">HeatMap</mat-checkbox>
                </mat-expansion-panel>
            </mat-accordion>  
        </div>
        <div id="map"></div>
    </mat-card-content>
</mat-card>